NODE_ENV=development

# Backend
HOST=0.0.0.0
PORT=3000

# Banco de dados
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=theclinic
MYSQL_USER=clinicuser
MYSQL_PASSWORD=clinicpass
MYSQL_PORT=3306
DATABASE_URL="mysql://clinicuser:clinicpass@db:3306/theclinic"

# Auth-service
AUTH_HOST=0.0.0.0
AUTH_PORT=4000
AUTH_SERVICE_URL="http://auth-service:4000"

#Loki
LOKI_HOST=http://loki:3100

# JWT
JWT_SECRET=uma_chave_bem_secreta